<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
        title Nodejs and Mysql
    body
        nav.navbar.navbar-dark.bg-dark
            a.navbar-brand.mx-auto(href='#') NEWS
        .container
            .row
                .col-md-6.mt-4.text-center
                    table.table.table-striped
                        tr
                            th ID
                            th TITLE
                            th NEWS
                        -for(let i = 0; i < news.length; i++)
                            tr
                                td=news[i].id_news
                                td=news[i].title
                                td=news[i].news

                .col-md-6.mt-4.card
                    form.card-body(action='/news' method='post')
                        h3.card-title Add News
                        .form-group
                            input.form-control(id='titulo' type='text' name='title' placeholder='Title')
                        .form-group
                            input.form-control(type='content' name='news' placeholder='News')
                        input.btn.btn-primary(type='submit' value='Add')